html, body {
  font-family: 'Helvetica Neue';
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 40px;
  background-color: #3b9ba7;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
  font-family: "Arial", Gadget, sans-serif;
  font-size: 15pt;
}

.header2 {
  height: 40px;
  background-color: #3b9ba7;
  color: white;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 40px;
  font-family: "Droid Sans", sans-serif;
  font-size: 17pt;
  font-style: bold;
}

#find-restaurants {
  background-color: #3b65a7;
  color: white;
  font-family: "Droid Sans", sans-serif;
  font-size: 12pt;
  font-style: normal;
}

.place {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 95vw;
}
.content{
  padding-top: 15px;
}

.placeinput input, .submit button {
  margin: 0 auto;
  max-width: 90vw;
}

.input {
  margin: -10px auto;
  /*text-align: center;*/
  width: 90vw;
}
.input div {
  display: inline-block;
}
.input .left-text {
  width: 20vw;
}

.input .pm-symbol {
  /*padding: 10px 10px;*/
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  line-height: 30px;
  background-color: #89a2ca;
  text-align: center;
  font-weight: bold;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input div:first-child {
  margin: 0px 5px;
}
.input div:last-child {
  margin: 0px 5px;
}

.input input {
  max-width: 45px;
  text-align: center;
}

.hours-input {
  margin-bottom: 10px;
}

.radius-input {
  margin-bottom: 10px;
}

.ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset {
  margin-top: 200px;
  padding-top: 200px;
}

.submit {
  margin-top: 25px;
  text-align: center;
}

.placeinput {
  color: black;
  width: 95vw;
  margin: 7px 10px 10px 10px;
  padding: 7px 10px 10px 10px;
}

.restaurants-container {
  background-color: #ebeff6;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.rest {
  position: relative;
  width: 90vw;
  height: 120px;
  margin: 20px auto;
}

.rest div {
  position: absolute;
  padding-bottom: 20px;
}

.rest-name {
  top: 10px;
  left: 10px;
}
.rest-name a, .rest-name a:hover, .rest-name a:visited {
  color: #c41200;
  text-decoration: none;
}

.rest-distance { color: black; }

.rest-open {
  top: 33px;
  left: 10px;
  color: #2f8e2f;
}
.rest-closed {
  color: #c41200;
}

.rest-rating {
  top: 80px;
  left: 10px;
}

.rest-image {
  top: 10px;
  right: 10px;
}

.rest-categories {
  top: 58px;
  left: 10px;
  width: 250px;
}

.rest-select {
  bottom: 10px;
  left: 30%;
  height: 30px;
  width: 30%;
  border-radius: 5px;
  background-color: #3b65a7;
  color: white;
  text-align: center;
  line-height: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#map {
  width: 100%;
  height: 60vh;
}
#panel {
  width: 100%;
  height: 35vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.first{
  left: 0;
}

.second{
  left: 100vw;
}

.third{
  left: 200vw;
}

.page{
  background-color: white;
}

.footer{
  border-bottom-style: solid;
  border-bottom-width: 40px;
  border-bottom-color: #3b9ba7;
}