#bg {
  position: absolute;
  background: url(http://4.bp.blogspot.com/_ZmCuIZbFJ10/TLatRXPS9nI/AAAAAAAAAXw/oyUDi-btfLc/s1600/Southwest+Desert+Road.jpg);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        width: 100%;
        
        background-position: center center;
        background-repeat: no-repeat;
        opacity: .3;
}
#bg img {
        
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}



#map {
  height: 300px;
  width: 700px;
}
.header {
  height: 40px;
  background-color: #474747;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}
.place {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 95vw;
}
.content{
  padding-top: 15px;
}
.input {

  margin: 5px auto;
  text-align: center;
}
.input div {
  display: inline-block;
}
.input div:first-child {
  padding-right: 5px;
}
.input div:last-child {
  padding-left: 5px;
}

.submit {
  margin-top: 25px;
  text-align: center;
}

.placeinput {
  color: black;
  width: 95vw;
  margin: 7px 10px 10px 10px;
  padding: 7px 10px 10px 10px;
}